body, h1, h2, h3, h4, p, ul, li, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f0f0f0;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}

header {
	background-color: #0e4222;
    color: white;
    padding: 20px;
}

.header-contenedor {
	display: flex;
    align-items: center;
    gap: 20px;
}

.perfil-img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 4px solid white;
}

.header-texto h1 {
	font-size: 24px;
	margin-bottom: 5px;
}

.header-texto h2 {
	font-size: 18px;
	font-weight: normal;
	color: #ecf0f1;
	margin-bottom: 10px;
}

.header-texto p {
	display: flex;
	align-items: center;
	gap: 5px;
}

.main-contenedor {
	display: flex;
	padding: 20px;
}

.columna-izquierda {
	flex: 1;
	padding-right: 20px;
}

.columna-derecha {
	flex: 2;
}

h3 {
	font-size: 20px;
	color: #2c3e50;
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 2px solid #eaecef;
}

.contacto {
	margin-bottom: 20px;
}

.contacto ul {
	list-style: none;
}

.contacto li {
	margin-bottom: 10px;
}

.contacto a {
	color: #3498db;
	text-decoration: none;
}

.contacto a:hover {
	text-decoration: underline;
}